<!doctype html>
<html lang="en" class="yui3-js-enabled">
  <head>
    <meta charset="utf-8">
    <title>Trolls de Jeux - Les Jeux des Membres</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(function() {
        var games = [
           <!-- #BEGINTABLE games_javascript_variables -->
           {value: "##games_javascript_name##", anchor: "game_##games_javascript_anchor##"}##games_javascript_comma_needed##
           <!-- #ENDTABLE games_javascript_variables -->
        ];
        $("#accordion").accordion({ heightStyle: "content", collapsible: true, active: false });
        $(".expansion-title").click(function() {
          var options = {};
          var descr_id = "#description_" + $(this).attr("id");
          $(descr_id).toggle("blind", options, 300);
        });
        $("#game_search").autocomplete({
            minLength: 0,
            source: games,
            select: function(event, ui) {
              document.getElementById(ui.item.anchor).scrollIntoView();
              $("#game_search").val("");
          }
        });
      });
    </script>

    <script src="http://yui.yahooapis.com/combo?3.17.2/yui/yui-min.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/resources/jquery-ui.css">
    <link rel="stylesheet" href="/resources/style.css">
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <a href="https://github.com/massix/tdj-crawler">
          <img style="position: absolute; top: 0; left: 0; border: 0;"
               src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67"
               alt="Fork me on GitHub"
               data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
        <div class="header">
          <img class="pure-img-responsive" style="margin-top: -10em" src="http://trollsdejeux.fr/forum/styles/360Elite/theme/images/site_logo.png" />
          <h1 class="brand-title">Trolls de Jeux</h1>
          <h2 class="brand-tagline">##random_greet##</h2>
          <input id="game_search" placeholder="Look for a game!" />
          <nav class="nav">
            <!-- Here we will have a list of registered users? -->
            <ul class="nav-list">
              <!-- #BEGINTABLE users_list -->
              <li>##user_forumnick## owns ##user_countgames## games.</li>
              <!-- #ENDTABLE users_list -->

              <li>DB contains a total of ##total_games## games.</li>
              <li>Last update: ##db_last_update##</li>
              <li>Next update: ##db_next_update##</li>
            </ul>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="pure-button" href="http://github.com/massix/tdj-crawler">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="pure-button" href="http://trollsdejeux.fr">Home</a>
              </li>
              <li class="nav-item">
                <a class="pure-button" href="http://trollsdejeux.fr/forum/">Forum</a>
              </li>
              <li class="nav-item">
                <a class ="pure-button" href="https://twitter.com/TrollsdeJeux">Twitter</a>
              </li>
              <li class="nav-item">
                <a class ="pure-button" href="https://www.facebook.com/Trolls-de-Jeux-TdJ-150257271673600/">Facebook</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="content pure-u-1 pure-u-md-3-4">
        <div id="accordion">
          <!-- #BEGINTABLE games_accordion -->
          <h3 class="post-title" id="game_##game_anchor##">##game_name##
            <div style="display: ##has_expansions##;
                        height: 100%; margin-top: 3px; margin-bottom: 3px;
                        position: relative;
                        right: 0;
                        margin-right: 3px;
                        float: right;
                        color: red;
                        font-weight: 100;
                        font-size: 80%;
                        text-decoration: underline;
                        text-transform: uppercase;">
                        ##expansions_total## expansion(s) inside.
            </div>
          </h3>
          <div class="posts">
            <p class="post-meta">Owned by: ##game_owners##</p>
            <p class="post-meta">
              <span style="float: left;" class="ui-icon ui-icon-gear"></span>&nbsp;##game_authors##<br />
              <span style="float: left;" class="ui-icon ui-icon-person"></span>&nbsp;##game_min_players##<span style="display: ##max_players_show##;"> - ##game_max_players##</span> players<br />
              <span style="float: left;" class="ui-icon ui-icon-clock"></span>&nbsp;##game_playtime##&apos;</p>
            <p class="post-description">
            <img class="post-avatar" style="max-height: 150px" src="##game_thumbnail##" />
            ##game_description## <br />

            <h1 style="display: ##has_expansions##" class="content-subhead">Expansions</h1>
            <div style="display: ##has_expansions##" class="expansions">

              <!-- #BEGINTABLE game_expansions -->
              <h3 class="expansion-title" style="font-size: 100%; cursor: pointer;" id="##expansion_id##">
                <span style="float: left;" class="ui-icon ui-icon-zoomin"></span>&nbsp;
                ##expansion_name##
              </h3>
              <div class="posts">
                <p class="post-meta">Owned by: ##expansion_owners##</p>
                  <div class="expansion-description" id="description_##expansion_id##" style="display: none">
                  <p class="post-description">
                  <img class="post-avatar" style="max-height: 150px" src="##expansion_thumbnail##" />
                  ##expansion_description## <br />
                </div>
              </div>
              <!-- #ENDTABLE game_expansions -->

            </div>

            <br />
            <a href="##game_url##">Find more on BoardGameGeek!</a>
            </p>
          </div>
          <!-- #ENDTABLE games_accordion -->
          
        </div>
      </div>
    </div>
  </body>
</html>
